@page "/moduli"
@using Fitstic_Hackathon_4.Data;
@using Microsoft.EntityFrameworkCore;
@inject ApplicationDbContext db

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

<h1>TUTTI I MODULI</h1>

<a class="button btn btn-primary btn-lg" href="form-modulo">NUOVO </a>

<br />
<br />

@if(all_moduli.Length == 0)
{
    <h3>
       <font color="red" >NESSUN MODULO INSERITO</font>
    </h3>
}
<br />
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive" id="proTeamScroll" tabindex="2" style="height: 400px; overflow: hidden; outline: none;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nome</th>
                                    <th>Materia</th>
                                    <th>Docente</th>
                                    <th>Tutor</th>
                                    <th>Attivo</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(Modulo mod in all_moduli)
                                {
                                    <tr>
                                        <td>
                                            @mod.Id
                                        </td>
                                        <td>
                                            <b>@mod.Nome</b>
                                        </td>
                                        <td>
                                            @mod.Materia
                                        </td>
                                        <td >
                                            @mod.Docente.Nome @mod.Docente.Cognome
                                        </td>
                                        <td>
                                            @mod.Tutor.Nome @mod.Tutor.Cognome
                                        </td>
                                        <td>
                                            <!--CONTROLLO SE INTERVALLO DATE È COMPRESA LA DATA ODIERNA
                                            quindi stampa SÌ verde, oppure NO rosso
                                                SE IL MODULO NON FA PARTE DI ALCUN CORSO
                                                "corso?" in arancione-->

                                            @if (mod.DataInizio < DateTime.Now && mod.DataFine > DateTime.Now && mod.CorsoId != null)
                                            {
                                                <font color="green"> <b> SÌ </b></font>
                                            }
                                            else if (mod.DataInizio > DateTime.Now && mod.DataFine < DateTime.Now && mod.CorsoId != null)
                                            {
                                                <font color="red"> <b> NO </b></font>
                                            }
                                            else
                                            {
                                                <font color="orange"> <b> CORSO? </b></font>

                                            }


                                        </td>
                                        <td>
                                            <a data-toggle="tooltip" title="" data-original-title="Edit" href="form-modulo/@mod.Id"><i class="fas fa-pencil-alt"></i></a>
                                            <a data-toggle="tooltip" title="" data-original-title="Delete" @onclick="() => EliminaRecord(mod)"><i class="far fa-trash-alt"></i></a>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {


    public Modulo[] all_moduli;

    protected override async Task OnInitializedAsync()
    {
        all_moduli = await db.TabModuli
            .Include(x => x.Docente)
            .Include(x => x.Tutor)
            .OrderBy(x => x.DataInizio)
            .ToArrayAsync();


    }

    private async void EliminaRecord(Modulo selected_modulo)
    {
        db.TabModuli.Remove(selected_modulo);
        db.SaveChanges();
        await OnInitializedAsync();
        StateHasChanged();
    }


}
