@page "/partecipanti"
@using Fitstic_Hackathon_4.Data;
@using Microsoft.EntityFrameworkCore;
@inject ApplicationDbContext db

<h1>PARTECIPANTI</h1>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <a class="button btn btn-primary btn-lg" href="form-partecipante" >NUOVO </a>
                </div>
                <div class="card-body">
                    <div class="table-responsive" id="proTeamScroll" tabindex="2" style="height: 400px; overflow: hidden; outline: none;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nome Cognome</th>
                                    <th>Data Nascita</th>
                                    <th>Telefono</th>
                                    <th>Email</th>
                                    <th>TipoDiploma</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var part in all_partecipanti)
                                {
                                    <tr>
                                        <td id="idPart">
                                            @part.Id
                                        </td>
                                        <td>
                                            @part.Nome  @part.Cognome
                                        </td>
                                        <td>
                                            @part.DataNascita.ToShortDateString()
                                        </td>
                                        <td class="text-truncate">
                                            @part.Telefono
                                        </td>
                                        <td>
                                           @part.Email                                        
                                        </td>
                                        <td>
                                            @part.TipoDiploma
                                        </td>
                                        <td>                                        
                                            <a data-toggle="tooltip" title="" data-original-title="Edit" href="form-partecipante"><i class="fas fa-pencil-alt"></i></a>
                                            <a data-toggle="tooltip" title="" data-original-title="Delete"><i class="far fa-trash-alt"></i></a>
                                        </td>
                                    </tr>   
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code{

    public Partecipante[] all_partecipanti;

    protected override async Task OnInitializedAsync()
    {
        all_partecipanti = await db.TabPartecipanti
            .OrderBy(x=>x.Cognome)
            .ToArrayAsync();
    }

}