@page "/form-esame/{idMod:int}/{idCorso:int}"
@using Fitstic_Hackathon_4.Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext db
@inject NavigationManager NavigationManager
@inject IJSRuntime ijsRuntime

<center>
    <h1>Inserimento voti modulo</h1>

    @foreach (var mod in all_modules)
    {
        if (mod.Id == idMod)
        {
            <h1>@mod.Nome</h1>
        }
    }
</center>


<EditForm Model="exam" OnValidSubmit="() => AssegnaVotiModulo()">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <br />
                        <label>Data esame:</label>
                        <input type="date" class="form-control" @bind="data_esame" />
                        <br />
                        <div class="table-responsive" id="proTeamScroll" tabindex="2" style="height: 400px; overflow: hidden; outline: none;">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th><b> Nome Cognome </b></th>
                                        <th>Data Nascita</th>
                                        <th>Voto</th>
                                        <th>Azioni</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var isc in iscr_mod)
                                    {

                                        <tr>

                                            <td id="idPart">
                                                @isc.Partecipante.Id
                                            </td>
                                            <td id="nominativoPartEsame">
                                                @isc.Partecipante.Nome  @isc.Partecipante.Cognome
                                            </td>
                                            <td id="birthdatePartEsame">
                                                @isc.Partecipante.DataNascita.ToShortDateString()
                                            </td>
                                            <td id="insVotoEsame">

                                                <InputNumber id="@isc.Partecipante.Id" @bind-Value="exam.Punteggio"></InputNumber>

                                            </td>
                                            <td id="actions">
                                                <button id="assegnaVoto" class="btn-link" type="submit"> Assegna </button>
                                            </td>

                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</EditForm>
<br />

<!-- <button type="submit" class="btn btn-warning btn-lg " id="btnSubmitVotes"><i class="fa fa-saved" > </i> ASSEGNA </button> -->

<br />



@code {

    [Parameter]
    public int idCorso { get; set; }
    [Parameter]
    public int idMod { get; set; }
    public DateTime data_esame { get; set; } = new DateTime();

    public Iscrizione[] iscr_mod { get; set; }
    public Modulo[] all_modules { get; set; }
    public Esame exam { get; set; } = new Esame();


    protected override async Task OnInitializedAsync()
    {
        this.all_modules = await db.TabModuli
            .ToArrayAsync();

        this.iscr_mod = await db.TabIscrizioni
            .Include(x => x.Partecipante)
            .Include(x => x.Corso)
            .Where(x => x.CorsoId == idCorso)
            .ToArrayAsync();

    }

    public async void AssegnaVotiModulo()
    {
        exam.Data = data_esame;
        exam.ModuloId = idMod;
        db.TabEsami.Add(exam);
        await db.SaveChangesAsync();
    }


}
